body {
    font-family: 'Raleway', sans-serif;
}


.fruit {
    background-image: url('../img/apple.png');
    background-size: contain;
    position: relative;
}

game-element{
    position: relative;
}

body {
    overflow-y: hidden
}

.trash {
    background-image: url('../img/trash.png');
    background-size: contain;
    position: relative;
}

.fruit, .trash {
    margin: 0 0.5vw;
    padding: 10px;
}

.large{
    width: 100px;
    height: 100px;
}

.medium {
    width: 50px;
    height: 50px;
}

.small {
    width: 25px;
    height: 25px;
}

.element-list {
    display: flex;
    flex-direction: row
}

.all {
    width: 50px;
    height: 50px;
}

.hidden{
    visibility: hidden;
}

user-scores{
    position: absolute;
    right: 0;
    font-size: 16px;
    font-weight: bold;
}

user-scores > #user-stats > ul {
    display: flex;
    flex-direction: row;
}

#user-stats {
    display: flex;
    flex-direction: column;
}

.element-wrapper {
    width: 100px;
    height: 100px;
}

#rules {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
}

li {
    list-style: none;
    margin: 10px
}

#game-board{
    width: 55vw;
    height: 101vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

main, hello-screen, #game-board > #end{
    display: flex;
    justify-content: center;
    align-items: center
}

#game-board > #end {
    margin-top: 30%;
}

hello-screen {
    height: 100%;
}

hello-screen > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hello-screen > form > input[type="submit"] {
    margin-top: 20px;
}

#text {
    display: flex;
    flex-direction: column
}

#text > span {
    margin: 10px;
}

header > h2 {
    margin-left: 15px;
}

.isCurrentUser {
    background-color: gray;
}

.tested-mode{
    text-decoration: underline;
    text-transform: uppercase;
}

tbody {
    background: #fff;
}

tbody > tr > td:first-child {
    text-align: center;
}

table {
    width: 50vw;
    border-collapse: collapse
}

td {
    border: 1px solid #000;
    padding: 10px
}

th {
    padding: 10px
}

thead {
    background: #d1d1d1;
}

#play-btn,  input[type="submit"], input[type="text"]  {
    background: #fff;
    border-style: solid;
    border-color: #000;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

.element-wrapper:hover{
    cursor: pointer;
}

.white {
    background: #fff;
}

.active {
    background: #000;
    color: #ffffff;
}

#start-block, #end-block {
    position: absolute;
    width: 55vw;
    height: 50px;
    background: #000;
}

#start-block {
    top: 0;
}

#end-block {
    bottom: -2vh;
}

#play-btn, input[type="submit"]{
    transition: .5s all ease;
}

#play-btn:hover, input[type="submit"]:not(:disabled):hover{
    color: #ffffff;
    cursor: pointer;
    background: #000;
}

