@media (max-width: 1440px) {
    .element-wrapper {
        width: 50px;
        height: 50px;
    }

    .large{
        width: 50px;
        height: 50px;
    }

    .medium {
        width: 30px;
        height: 30px;
    }

    .small {
        width: 20px;
        height: 20px;
    }

    .element-list {
        display: flex;
        flex-direction: row
    }

    .all {
        width: 25px;
        height: 25px;
    }

    #text {
        font-size: 11px;
    }
}